$module: 'afkl-sticky-element';

.#{$module} {

  &--sticky {
    position: fixed !important;
    top: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  &--visible {
    display: block !important;

    &.ng-hide,
    &.ng-hide:not(.ng-hide-animate) {
      display: block !important;
      visibility: hidden !important;
    }
  }
}
